<%-include('../partials/head')%>
<header>
    <nav style="display: flex; justify-content: space-between; background-color: #f50303; padding: 1rem;">
        <a href="/" id="user" style="color: white; text-decoration: none; padding: 0 1rem;">HOME</a>
        <a href="/host" id="host" style="color: white; text-decoration: none; padding: 0 1rem; background-color: rgba(0, 0, 139, 0.794);">HOST☠️</a>
        <a href="/host/admin_HomeList" id="admin_HomeList" style="color: white; text-decoration: none; padding: 0 1rem;">ADMIN HOMELIST</a>
    </nav>
</header>
<h1 style="color: blue; text-align: center;">
    Welcome Host!
</h1>
<a href="/host/addHomes" style="display: block; text-align: center; margin-top: 20px; color: green; text-decoration: none;">
    Add your home details here
</a>
</body>
</html>