<form action="/user/favourite_list" method="post" style="float: right;">
    <input type="hidden" name="homeId" value="<%= home.id %>">
    <button style="background-color:yellow; border: none; border-radius: 5px; padding: 10px 20px; cursor: pointer; font-size: 16px;">FAVOURITE</button>
</form>
<!-- iss input me pehle se name aur uski value diye hue hai jise hum baad me access kr sake -->