<%-include('../partials/head')%>

<style>
    button:hover {
        background-color: rgb(7, 214, 7);
        color: black;
    }
</style>

    <h1 style="color: #28a745; text-align: center; font-family: 'Arial', sans-serif; font-size: 2.5em; margin-top: 20px;">Payment Successfully Completed</h1>
    <h2 style="color: #007bff; text-align: center; font-family: 'Arial', sans-serif; font-size: 2em; margin-top: 10px;">Your Home is Now Booked</h2>
    <h2 style="color: #007bff; text-align: center; font-family: 'Arial', sans-serif; font-size: 2em; margin-top: 10px;">Thanks for Booking!</h2>
    <h2 style="color: #007bff; text-align: center; font-family: 'Arial', sans-serif; font-size: 2em; margin-top: 10px;">You Can Check Your Booking Details in the Reserve Section</h2>
    <div style="text-align: center; margin-top: 20px;">
        <a href="/user/reserve">
            <button style="background-color: #dc3545; color: white; padding: 15px 30px; border: none; border-radius: 5px; font-size: 1.2em; cursor: pointer;">
                Go to Reserve Section
            </button>
        </a>
    </div>
</body>
</html>