<!-- idher user ka profile dikhaya jayega -->

<%-include('../partials/head')%>
<header>
    <nav style="display: flex; justify-content: space-between; background-color: #f50303; padding: 1rem;">
        <a href="/" id="user" style="color: white; text-decoration: none; padding: 0 1rem;">HOME</a>
        <a href="/user" id="user" style="color: white; text-decoration: none; padding: 0 1rem; background-color: rgba(0, 0, 139, 0.794);">USER</a>
        <a href="/user/favourite_list" id="home-details" style="color: white; text-decoration: none; padding: 0 1rem;">FAVOURITE-LIST</a>
        <a href="/user/reserve" id="home-details" style="color: white; text-decoration: none; padding: 0 1rem;">RESERVE</a>
    </nav>
</header>
    <h1>Welcome User</h1>
    <ul>
        <li><strong>Name:</strong></li>
        <li><strong>E-mail:</strong></li>
        <li><strong>Phone No.:</strong></li>
    </ul>
</body>
</html>